*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #d4e4f3;
}
.container{
    justify-content: center;
    height: 100vh;
}
.sketchBoard{
    height: 400px;
    width: 400px;
    display: grid;
    margin: 20px;
    /* padding: 10px; */
    margin: auto;
    box-shadow: 5px 5px 5px #0f1d25;
}
.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color:rgb(107, 96, 30);
    font-weight: bold;
    padding: 10px;
}
.searchButton{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.buttons{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.button{
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.button:hover{
    opacity: 0.8;
}
.input{
    background-color: aquamarine;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.black{
    color: white;
    background-color: black;
}
.gray{
    color: white;
    background-color: grey;
}
.size{
    color: white;
    background-color: rgb(45, 107, 33);
}

